hm-switch.log
homes/x86_64-linux/izalith/niscolas/gh/hosts.yml
homes/x86_64-linux/izalith/niscolas/git/credentials
homes/x86_64-linux/izalith/niscolas/ludusavi/config/*.log
homes/x86_64-linux/izalith/niscolas/ludusavi/config/cache.yaml
homes/x86_64-linux/izalith/niscolas/wakatime
modules/home-manager/logseq/.logseq/settings/logseq-raindrop.json
modules/home-manager/zsh/.cache
modules/home-manager/zsh/.zcompdump
modules/home-manager/zsh/.zdirs
modules/home-manager/zsh/.zsh_history
modules/home-manager/zsh/env.secrets
nixos-switch.log
