homes/x86_64-linux/izalith/niscolas/gh/hosts.yml
homes/x86_64-linux/izalith/niscolas/git/credentials
homes/x86_64-linux/izalith/niscolas/ludusavi/config/*.log
homes/x86_64-linux/izalith/niscolas/ludusavi/config/cache.yaml
homes/x86_64-linux/izalith/niscolas/wakatime
homes/x86_64-linux/izalith/niscolas/zsh/.cache
homes/x86_64-linux/izalith/niscolas/zsh/.zcompdump
homes/x86_64-linux/izalith/niscolas/zsh/.zdirs
homes/x86_64-linux/izalith/niscolas/zsh/.zsh_history
homes/x86_64-linux/izalith/niscolas/zsh/env.secrets
homes/x86_64-linux/izalith/niscolas/logseq/.logseq/settings/logseq-raindrop.json

