/** Created by saimoom, edited by niscolas **/

$color-aqua: #689D6A;
$color-dark-soft: #32302F;
$color-light-soft: #F2E5BC;
$color-purple: #D3869B;
$color-red: #FB4934;
$color-yellow: #FABD2F;
$default-prefix-icon-size: 18px;
$widget-border-radius: 20px;
$prefix-suffix-border-radius: 16px;

* {
    all: unset;
    font-family: Mononoki Nerd Font;
}

.bar {
}

.membar {
    color: #e0b089;
    border-radius: 10px;
}
.batbar {
    color: #afbea2;
    border-radius: 10px;
}

.iconbat, .iconmem {
    font-size: 15;
    margin: 10px;
}

.separator {
    font-size: 22px;
    margin: 0 12px 0 8;
}

.mem_module {
    border-radius: 16px;
    margin: 0px 10px 0px 3px;
}
.bat_module {
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}

.default-widget-prefix {
    border-radius: $prefix-suffix-border-radius 0 0 $prefix-suffix-border-radius;
    font-size: $default-prefix-icon-size;
    padding: 0 8px 0 10px;
    margin: 0 12px 0 0;
}

.default-widget-suffix {
    border-radius: 0 $widget-border-radius $widget-border-radius 0;
    padding: 0 8px;
    margin: 0 0 0 12px;
}

.default-widget {
    background-color: $color-dark-soft;
    border-radius: $widget-border-radius;
    border: 3px solid;
}

.workspaces-widget {
    @extend .default-widget;
    border-color: $color-yellow;
    font-weight: normal;
}

.workspaces-prefix {
    @extend .default-widget-prefix;
    background-color: $color-yellow;
    color: $color-dark-soft;
}

.workspaces-suffix {
    @extend .default-widget-suffix;
    background-color: $color-yellow;
}

.workspaces-content {
    font-size: 27px;
    margin: 2px 6px 0 0;
}

.workspace {
}

.workspace-unoccupied {
    color: #7C6F64;
}

.workspace-occupied {
    color: $color-yellow;
}

.workspace-focused {
    color: $color-yellow;
}

.workspace-urgent {
    color: $color-red;
}

.clock-widget {
    @extend .default-widget;
    border-color: $color-aqua;
}

.clock-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-aqua;
}

.clock-label {
    font-size: 18;
    color: $color-aqua;
    font-weight: bold;
}

.clock-suffix {
    @extend .default-widget-suffix;
    background-color: $color-aqua;
}

.system-widget {
    background-color: $color-dark-soft;
    border-radius: $widget-border-radius;
}

.system-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-purple;
}

.system-suffix {
    @extend .default-widget-suffix;
    background-color: $color-purple;
}

.tray-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-purple;
}

.tray-widget {
    @extend .default-widget;
    border-color: $color-purple;
}

.tray-content {
    margin: 0 200px;
}

.tray-suffix {
    @extend .default-widget-suffix;
    background-color: $color-purple;
}

