/** Created by saimoom, edited by niscolas **/

$color-aqua: #8EC07C;
$color-blue: #83A598;
$color-green: #B8BB26;
$color-dark-soft: #32302F;
$color-light-soft: #F2E5BC;
$color-purple: #D3869B;
$color-red: #FB4934;
$color-yellow: #FABD2F;
$default-prefix-icon-size: 18px;
$widget-border-radius: 20px;
$prefix-suffix-border-radius: 16px;

* {
    all: unset;
    background-color: transparent;
    font-family: IntelOne Mono;
}

.bar-widget {
}

.batbar {
    color: #afbea2;
    border-radius: 10px;
}

.separator {
    margin: 0 8px;
}

.bat_module {
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}

.default-label {
    margin-bottom: 3px;
}

.default-widget-prefix {
    border-radius: $prefix-suffix-border-radius 0 0 $prefix-suffix-border-radius;
    font-size: $default-prefix-icon-size;
    padding: 0 8px 0 10px;
    margin: 0 12px 0 0;
}

.default-widget-suffix {
    border-radius: 0 $widget-border-radius $widget-border-radius 0;
    padding: 0 8px;
    margin: 0 0 0 12px;
}

.default-widget {
    background-color: $color-dark-soft;
    border-radius: $widget-border-radius;
    border: 3px solid;
}

.workspaces-widget {
    @extend .default-widget;
    border-color: $color-yellow;
}

.workspaces-prefix {
    @extend .default-widget-prefix;
    background-color: $color-yellow;
    color: $color-dark-soft;
}

.workspaces-suffix {
    @extend .default-widget-suffix;
    background-color: $color-yellow;
}

.workspaces-content {
    font-size: 20px;
    margin: 3px 6px 0 0;
}

.workspace {
}

.workspace-unoccupied {
    color: #7C6F64;
}

.workspace-occupied {
    color: $color-yellow;
}

.workspace-focused {
    color: $color-yellow;
}

.workspace-urgent {
    color: $color-red;
}

.clock-widget {
    @extend .default-widget;
    border-color: $color-blue;
}

.clock-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-blue;
}

.clock-label {
    @extend .default-label;
    color: $color-blue;
}

.clock-suffix {
    @extend .default-widget-suffix;
    background-color: $color-blue;
}

.system-widget {
    @extend .default-widget;
    border-color: $color-green;
    color: $color-green;
}

.system-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-green;
}

.system-content {
    @extend .default-label;
}

.system-suffix {
    @extend .default-widget-suffix;
    background-color: $color-green;
}

.tray-widget {
    @extend .default-widget;
    border-color: $color-purple;
    color: $color-purple;
}

.tray-prefix {
    @extend .default-widget-prefix;
    color: $color-dark-soft;
    background-color: $color-purple;
}

.tray-content {
    padding-right: 250px;
}

.tray-suffix {
    @extend .default-widget-suffix;
    background-color: $color-purple;
}

.battery-widget { }

.battery-label { }

.temperature-widget { }

.thermometer-label { }

.cpu-temperature-label { }

.ram-widget {
}

.ram-progress {
    border-radius: 10px;
}

.battery-icon, ram-icon {
    margin: 10px;
}

