/** Created by saimoom, edited by niscolas **/

$aqua: #689D6A;
$dark-soft: #32302F;
$default-prefix-icon-size: 18px;
$light-soft: #F2E5BC;
$purple: #D3869B;
$red: #FB4934;
$yellow: #FABD2F;

* {
    all: unset;
    font-family: Mononoki Nerd Font;
}

.bar {
    background-color: $dark-soft;
    border-radius: 16px;
}

.membar {
    color: #e0b089;
    border-radius: 10px;
}
.batbar {
    color: #afbea2;
    border-radius: 10px;
}

.iconbat, .iconmem {
    font-size: 15;
    margin: 10px;
}

.separator {
    font-size: 22px;
    margin: 0 12px 0 8;
}

.mem_module {
    border-radius: 16px;
    margin: 0px 10px 0px 3px;
}
.bat_module {
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}

.workspaces-widget {
    font-size: 27px;
    font-weight: normal;
}

.section-prefix {
    border-radius: 16px 0 0 16px;
    font-size: $default-prefix-icon-size;
    padding: 0 8px 0 10px;
    margin: 0 12px 0 0;
}

.section-suffix {
    border-radius: 0 16px 16px 0;
    padding: 0 8px;
    margin: 0 0 0 12px;
}

.workspaces-prefix {
    @extend .section-prefix;
    background-color: $yellow;
    color: $dark-soft;
}

.workspaces-suffix {
    @extend .section-suffix;
    background-color: $yellow;
}

.workspaces-content {
    margin: 5px 6px 0 0;
}

.workspace {
}

.workspace-unoccupied {
    color: #7C6F64;
}

.workspace-occupied {
    color: $yellow;
}

.workspace-focused {
    color: $yellow;
}

.workspace-urgent {
    color: $red;
}

.calendar-prefix {
    @extend .section-prefix;
    color: $dark-soft;
    background-color: $aqua;
}

.calendar-label {
    font-size: 18;
    color: $aqua;
    font-weight: bold;
}

.calendar-suffix {
    @extend .section-suffix;
    background-color: $aqua;
}

.system-prefix {
    @extend .section-prefix;
    color: $dark-soft;
    background-color: $purple;
}

.system-suffix {
    @extend .section-suffix;
    background-color: $purple;
}
